.vs/config
/packages/
AppPortal/obj/
AppPortal/Properties/
AppPortal/bin/
/.vs/AppPortal/v15/Server/sqlite3
/AppPortal/Content/Aishwarya.docx
/AppPortal/Content/AbstractTemplate.pdf
/AppPortal/Applications/2017CA48091043.pdf
/AppPortal/Applications/2017CA48101411.pdf
/AppPortal/Applications/2017CA48646564.pdf
/AppPortal/Applications/2017CA48648748.pdf
/AppPortal/StaticHTML
